/**
 * Disable selection by default except for elements with
 * "contenteditable".
 */
* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}

[contenteditable="true"] {
  -moz-user-select: text;
}

html, body {
  height: 100%;
  font-size: 10px;
}

#offline-message {
  font-size: 1.4rem;
  font-style: italic;
  margin: 0;
  -moz-margin-end: 1rem;
  height: 4.2rem;
  padding-bottom: 1.3rem;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
}

#settings-connectivity {
  background: url(/style/icons/settings.png) no-repeat 50% 50% / 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: -0.1rem;
  -moz-padding-end: 0.8rem;
}

#search-results {
  max-height: calc(100% - var(--softkeybar-height));
  overflow-y: hidden;
}

#search-results.offline #suggestions {
  display: none;
}

#search-results.offline #offline-message {
  display: flex;
}

#suggestions-provider {
  color: #00aac5;
  position: relative;
  padding: 0;
  -moz-padding-end: 2rem;
  -moz-padding-start: 1rem;
}

#suggestions-provider-dropdown {
  content: ' ';
  position: absolute;
  top: -.4rem;
  -moz-margin-start: -1.4rem;
  width: 0;
  height: 0;
  background: none;
  padding: 0;
  border-style: solid;
  border-width: 0 0 .8rem .8rem;
  border-color: transparent transparent #00aac5 transparent;
}

#suggestions {
  font-size: 1.6rem;
  overflow-x: hidden;
}

#suggestions ul {
  list-style: none;
  white-space: nowrap;
}

#suggestions li {
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  color: var(--color-gs90);
  display: flex;
}

#suggestions li:focus {
  background-color: #1CC1C4;
  outline: none;
  color: var(--color-gs00);
}

#suggestions li div[data-icon="search"] {
  position: relative;
  font-size: 3.2rem;
  margin-right: 1rem;
}

section .result * {
  pointer-events: none;
}

h2 {
  position: relative;
  text-align: center;
  border-top: 0.3rem solid #5f5f5f;
  font-size: 1.4rem;
  color: #858585;
  margin-top: 0.9rem;
  margin-bottom: -0.9rem;
  -moz-margin-start: 0.5rem;
  -moz-margin-end: 0.6rem;
}

/* The select box is hidden behind search provider label since we
    only want to see the dialog prompt, not the actual select box  */
#suggestions-select {
  position: absolute;
  top: 0;
  opacity: 0.1;
  height: 0;
  width: 0;
}

h2 span, h2 label {
  position: relative;
  top: -0.9rem;
  background: #333;
  padding: 0 1rem;
  margin-bottom: 0;
  font-weight: 500;
}

#places-header {
  margin-top: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 0.6rem;
}

#places-header.hidden {
  display: none;
}

.local .result {
  height: 6rem;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.local .result:focus {
  background-color: var(--color-cyan);
  outline: none;
}

.local .result:after {
  position: absolute;
  bottom: 0;
  content: " ";
  width: calc(100% - 1rem);
  height: 0.1rem;
  background: #535353;
  left: 0.5rem;
  right: 0.5rem;
}

.local .result:last-child:after {
  display: none;
}

.local .result:active {
  background-color: #3e666e;
}

.local .icon {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
  align-self: center;
}

.local .icon img {
  width: 3.2rem;
  height: 3.2rem;
}

.local .icon.empty {
  border: 1px dashed #5A5A5A;
  border-radius: 2px;
}

.local .icon.empty img {
  opacity: 0;
}

.local .title, .local .meta {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.local .description {
  overflow: hidden;
  align-self: center;
  margin-left: 1rem;
}

.local .title {
  color: var(--color-gs90);
}

.local .meta {
  color: var(--color-gs70);
}

.local .result:focus .title {
  color: var(--color-gs00);
}

.local .result:focus .meta {
  color: var(--color-gs00);
}

.local .highlight {
  font-weight: bold;
  text-decoration: underline;
}

/* web */
section.apps {
  /* Hide the whitespace between inline elements */
  font-size: 0;
  height: 10rem;
  overflow: hidden;
  padding-bottom: 1.5rem;
}

gaia-grid {
  display: block;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#suggestions-notice-wrapper {
  background: rgba(45, 45, 45, 0.94);
  z-index: 100;
  border-radius: 2px;
  position: absolute;
  margin: 1rem 1.5rem 0 1.5rem;
}

#suggestions-notice-wrapper p {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-style: italic;
}

#suggestions-notice-confirm {
  display: block;
  width: 100%;
  color: #00AACC;
  background: none;
  border: none;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.05);
  border-radius: 0;
  padding: 1rem;
  font-size: 16px;
  font-style: italic;
}

#settings-link {
  color: #00AACC;
}

#suggestions-notice-wrapper::before {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 1rem 1rem 1rem;
  border-color: transparent transparent rgba(45, 45, 45, 0.94) transparent;
  top: -1rem;
  -moz-margin-start: calc(50% - 1rem);
  z-index: -1;
}

/* show up to 2-line labels in result icons */
#search-results .icon .title {
  text-shadow: none !important;
  height: calc(3.88rem + 0.2rem);
  white-space: normal !important;
}

.loading {
  display: none;
  padding: 2.5rem 0;
  text-align: center;
  width: 100%;
}

[data-loading=true] .loading {
  display: block;
}

html[dir="rtl"] #suggestions-provider {
  padding: 0 1rem 0 2rem;
}

html[dir="rtl"] #suggestions li {
  background-position: right 0.8rem center;
}

html[dir="rtl"] #suggestions-provider-dropdown {
  transform: scaleX(-1);
}

html[dir="rtl"] #places .description {
  text-align: right;
}

html[dir="rtl"] #places .meta {
  direction: ltr;
}
