<element name="call-info-view" extends="form">
  <template>
    <section role="region">
      <gaia-header id="call-info-gaia-header">
        <h1 data-l10n-id="callInformation"></h1>
      </gaia-header>
    </section>

    <div class="ci__wrapper">
      <div class="ci__calls-wrapper">
        <div class="ci-icon">
          <aside id="call-info-ico"></aside>
        </div>
        <div class="call-general-info">
          <div class="ci__group-info">
            <p id="call-info-contact" class="ci__grow"></p>
          </div>
          <div id="call-info-number"></div>
        </div>
      </div>
      <h2 class="call-info-day"></h2>
        <div class="call-duration-list" id='call-info-list'>
        </div>

    <template id='call-info-template'>
      <section>
        <div class="call-info-time-list"></div>
      </section>
    </template>

    </div>
  </template>
</element>
