
* {
  font-family: "Open Sans";
}
input {
  font-variant-numeric: nominal;
  }
input {
  font-variant-numeric: nominal;
}
:root {
  
  --color-alpha: #333333;
  --color-beta: #ffffff;
  --color-gamma: #4d4d4d;
  --color-delta: #5f5f5f;
  --color-epsilon: #858585;
  --color-zeta: #a6a6a6;
  --color-eta: #c7c7c7;
  --color-theta: #e7e7e7;
  --color-iota: #f4f4f4;
  --color-white: #ffffff;
  --color-darkblue: #00539f;
  --color-blue: #00caf2;
  --color-turquoise: #27c8c2;
  --color-darkorange: #e66000;
  --color-orange: #ff9500;
  --color-yellow: #ffcb00;
  --color-violet: #c40c84;
  --color-carrotorange: #eb9423;
  --color-wathetblue: #005da5;
  
  --color-gold: #ffa000;
  --color-gold-pressed: #cc8000;
  --color-warning: #fbbd3c;
  --color-destructive: #e2443a;
  --color-preffered: #00ba91;
  
  --color-gs100: #000000;
  --color-gs90: #323232;
  --color-gs70: #6a6a6a;
  --color-gs45: #8c8c8c;
  --color-gs20: #cccccc;
  --color-gs10: #e6e6e6;
  --color-gs00: #ffffff;
  --color-purple: #873eff;
  --color-pink: #f6529b;
  --color-lime: #82c51b;
  --color-cyan: #1cc1c4;
  --color-blue: #0da1e1;
  --color-orange: #ff8329;
  --color-red: #f3203d;
  --color-purple-pressed: #6c32cc;
  --color-pink-pressed: #bf2392;
  --color-lime-pressed: #6b9a23;
  --color-cyan-pressed: #31979e;
  --color-blue-pressed: #0a80b4;
  --color-orange-pressed: #cc5310;
  --color-red-pressed: #c21930;
  
  --background: var(--color-beta);
  --background-plus: var(--color-theta);
  --background-minus: var(--color-zeta);
  
  --text-color: var(--color-gamma);
  --text-color-minus: var(--color-eta);
  
  --button-background: var(--color-iota);
  
  --link-color: var(--highlight-color);
  
  --input-background: var(--color-beta);
  --input-color: var(--color-alpha);
  --input-clear-background: #909ca7;
  
  --button-box-shadow:
    inset 0 -1px 0 #d8d8d8,
    inset 0 1px 0 #eeeeee;
  --button-box-shadow-active: var(--button-box-shadow);
  
  --header-purple-background: #320374;
  --header-pink-background: #48132c;
  --header-lime-background: #2a400c;
  --header-cyan-background: #045463;
  --header-blue-background: #20407b;
  --header-orange-background: #381e0d;
  --header-red-background: #5b0700;
  --header-disabled-button-color: rgba(255,255,255,0.3);
  
  --statusbar-height: 2.6rem;
  --softkeybar-height: 3rem;
  --header-height: 2.8rem;
  --header-large-text-height: 2.4rem;
  --tabbar-height: 2.7rem;
  --rocketbar-urlbar-height: 3.6rem;
  --statusbar-softkeybar-height: 5.6rem;
  --header-tabbar-height: 5.5rem;
  --client-height: calc(100% - var(--statusbar-softkeybar-height));
}
.theme-system,
.theme-launcher {
  
  --highlight-color: var(--color-purple);
  --highlight-color-pressed: var(--color-purple-pressed);
  
  --header-background: var(--header-purple-background);
  --header-color: var(--color-beta);
}
.theme-browser,
.theme-service {
  
  --highlight-color: var(--color-cyan);
  --highlight-color-pressed: var(--color-cyan-pressed);
  
  --header-background: var(--header-cyan-background);
  --header-color: var(--color-beta);
}
.theme-productivity {
  
  --highlight-color: var(--color-orange);
  --highlight-color-pressed: var(--color-orange-pressed);
  
  --header-background: var(--header-orange-background);
  --header-color: var(--color-beta);
}
.theme-communications {
  
  --highlight-color: var(--color-lime);
  --highlight-color-pressed: var(--color-lime-pressed);
  
  --link-color: #177874;
  
  --header-background: var(--header-lime-background);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--link-color);
}
.theme-settings {
  
  --background: var(--color-iota);
  --background-plus: var(--color-beta);
  --background-minus: var(--color-epsilon);
  --background-minus-minus: var(--color-zeta);
  
  --highlight-color: var(--color-blue);
  --highlight-color-pressed: var(--color-blue-pressed);
  
  --border-color: var(--color-theta);
  
  --title-color: var(--background-minus);
  
  --button-background: var(--background-plus);
  
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
  --header-color: var(--title-color);
  --header-background: var(--header-blue-background);
  --header-button-color: var(--highlight-color);
  --header-disabled-button-color: var(--color-theta);
  --header-action-button-color: var(--title-color);
}
.theme-media {
  
  --highlight-color: var(--color-pink);
  --highlight-color-pressed: var(--color-pink-pressed);
  
  --background: var(--color-alpha);
  --background-plus: var(--color-gamma);
  --background-minus: #2B2B2B;
  --background-minus-minus: #1a1a1a;
  
  --text-color: var(--color-beta);
  
  --button-background: var(--background-plus);
  
  --header-background: var(--header-pink-background);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--highlight-color);
  --action-header-background: var(--header-background);
  
  --border-color: var(--color-gamma);
  
  --input-background: var(--background-plus);
  
  --text-input-background: var(--background-minus);
  
  --switch-head-border-color: var(--background-minus-minus);
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
   --button-box-shadow: none;
   --button-box-shadow-active: none;
}
.tcl-theme-communications,
.tcl-theme-settings {
  
  --background: var(--color-pink);
  --background-title: var(--color-white);
  --background-plus: var(--color-beta);
  --background-minus: var(--color-epsilon);
  --background-minus-minus: var(--color-zeta);
  
  --highlight-color: var(--color-lime);
  
  --border-color: var(--color-theta);
  
  --title-color: var(--background-title);
  
  --button-background: var(--background-plus);
  
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
  --header-color: var(--title-color);
  --header-background: var(--background);
  --header-button-color: var(--highlight-color);
  --header-disabled-button-color: var(--color-theta);
  --header-action-button-color: var(--title-color);
  --action-header-background: var(--header-background);
}
.tcl-theme-messaging {
  
  --highlight-color: var(--color-lime);
  
  --link-color: #177874;
  
  --header-background: var(--color-red);
  --header-color: var(--color-beta);
  --header-icon-color: var(--color-beta);
  --header-button-color: var(--link-color);
}
.tcl-theme-video {
  
  --highlight-color: var(--color-lime);
  
  --background: var(--color-wathetblue);
  --background-plus: var(--color-gamma);
  --background-minus: #2B2B2B;
  --background-minus-minus: #1a1a1a;
  
  --text-color: var(--color-beta);
  
  --button-background: var(--background-plus);
  
  --header-background: var(--background);
  --header-icon-color: var(--text-color);
  --header-button-color: var(--highlight-color);
  
  --border-color: var(--color-gamma);
  
  --input-background: var(--background-plus);
  
  --text-input-background: var(--background-minus);
  
  --switch-head-border-color: var(--background-minus-minus);
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
   --button-box-shadow: none;
   --button-box-shadow-active: none;
}
.tcl-theme-email {
  
  --background: #e55525;
  --background-title: var(--color-white);
  --background-plus: var(--color-beta);
  --background-minus: var(--color-epsilon);
  --background-minus-minus: var(--color-zeta);
  
  --highlight-color: var(--color-lime);
  
  --border-color: var(--color-theta);
  
  --title-color: var(--background-title);
  
  --button-background: var(--background-plus);
  
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
  --header-color: var(--title-color);
  --header-background: var(--background);
  --header-button-color: var(--highlight-color);
  --header-disabled-button-color: var(--color-theta);
  --header-action-button-color: var(--title-color);
  --highlight-text-color: var(--color-white, #ffffff);
  
  --header-height: 35px;
  --footer-height: 4rem; 
  --client-height: calc(100% - var(--header-height) - var(--footer-height));
}
.tcl-theme-clock {
  
  --background: var(--color-pink);
  --background-title: var(--color-white);
  --background-plus: var(--color-beta);
  --background-minus: var(--color-epsilon);
  --background-minus-minus: var(--color-zeta);
  
  --highlight-color: var(--color-lime);
  
  --border-color: var(--color-theta);
  
  --title-color: var(--background-title);
  
  --button-background: var(--background-plus);
  
  --switch-background: var(--background-minus-minus);
  
  --checkbox-border-color: var(--background-minus-minus);
  
  --header-color: var(--title-color);
  --header-background: var(--color-wathetblue); 
  --header-button-color: var(--highlight-color);
  --header-disabled-button-color: var(--color-theta);
  --header-action-button-color: var(--title-color);
}
