<!-- need this section element to keep building blocks happy. Too bad it
  expects a section element -->
<section class="error-card form-card skin-organic bbshim" role="region">
  <header>
    <h1 class="sup-account-header-label header-label"
        data-l10n-id="setup-fix-oauth2-header"></h1>
  </header>
  <div class="scrollregion-below-header">
    <p class="sup-oauth-description"
       data-l10n-id="setup-fix-oauth2-description">
      EmaiL NeedS ReauthorizatioN FoR AccounT
    </p>

    <p data-prop="oauth2Name" class="sup-oauth2-name"></p>

  </div>
</section>
