#icc-input-msg {
  margin-left: -0.2rem;
}

#icc-view.visible,
#icc-view .visible {
  display: block;
}

#icc-view {
  display: none;
  position: fixed;
  width: 100%;
  top: var(--statusbar-height);
  background: #f4f4f4;
  color: #000;
  -moz-box-sizing: border-box;
}

#icc-view > section {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}

#icc-view > section > p {
  width: calc(100% - 6rem);
  padding: 0 3rem;
  overflow: scroll;
  margin: 0;
}

#icc-view > section > form {
  padding: 0 1.5rem;
  width: calc(100% - 3rem);
  overflow: scroll;
  margin: 0;
}

#icc-view p {
  color: var(--color-gs70);
  white-space: pre-line;
  font-size: 1.7rem;
}

#icc-view > section > form > p {
  margin: 0 1.5rem 1.4rem;
  overflow: scroll;
  padding: 0;
}

#icc-view > section[data-icons] > form > p.stk-no-text {
  height: 0;
  margin: 0;
  padding: 0;
}

#icc-view > section[data-icons] > form > input {
  margin: 0 0 2rem;
}

#icc-view > section[data-icons=true] > form > input {
  margin: 0 0 2rem;
}

#icc-view > section span.icons {
  display: block;
  width: calc(100% - 6rem);
  padding: 2rem 3rem 0;
}

#icc-view > section > form span.icons {
  padding: 2rem 1.5rem 0;
}

#icc-view > section[data-icons=true] span.icons,
#icc-view > section[data-icons=true] > form span.icons {
  padding-bottom: 1.4rem;
}

#icc-view > section[data-icons=true] span.icons canvas {
  margin-right: 1.5rem;
}

#icc-view > section[data-icons=true] span.icons canvas:last-of-type {
  margin-right: 0;
}

#icc-confirm > gaia-header {
  --header-background: var(--color-gs20);
}

#icc-confirm > gaia-header > h1 {
  font-style: unset !important;
  font-size: 1.7rem !important;
  text-align: center !important;
  color: var(--color-gs90) !important;
}

#icc-confirm > gaia-subheader {
  text-align: center !important;
  color: var(--color-gs90) !important;
  background: var(--color-gs20);
}

#icc-input menu button:first-child,
#icc-confirm menu button:first-child {
  margin: 0;
}

#icc-input menu button,
#icc-input .yesnodisabled  {
  width: calc((100% - 2rem) / 2);
  margin-left: 1rem;
}

#icc-input .yesnoenabled {
  display: none;
}
.yesnomode menu button {
  width: calc((100% - 2rem) / 3);
  margin-left: 1rem;
}
#icc-input.yesnomode .yesnoenabled {
  display: inline-block;
}

#icc-input.yesnomode button,
#icc-input.yesnomode menu span {
  width: calc((100% - 3rem) / 3);
}
#icc-input.yesnomode menu .yesnoenabled {
  margin-left: 1rem;
}
#icc-input.yesnomode menu .yesnoenabled button {
  width: 100%;
}

#icc-input.yesnomode .yesnodisabled {
  display: none;
}

#icc-input .yesnodisabled button[disabled] {
  background: none repeat scroll 0 0 rgb(95, 95, 95);
  color: rgb(77, 77, 77);
  text-shadow: none;
  border-color: rgb(77, 77, 77);
  pointer-events: none;
}

#icc-input-box.full {
  animation: full-dance .5s;
  animation-iteration-count: 2;
}

@keyframes full-dance {
  0% { transform: translateX(0); }
  25% { transform: translateX(10px); }
  50% { transform: translateX(-10px); }
  75% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}


