<element name="multi-events" extends="section">
  <template>
    <header id="multi-events-header">
      <h1 data-l10n-id="tcl-multi-events">Events</h1>
    </header>
    <section id="multi-event-list" role="listbox"></section>
  </template>
</element>
