<element name="airplane-mode" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="airplaneMode"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem">
          <label class="pack-radio-large my_radio">
            <input id="airplane_switch_on" value="true" type="radio">
            <span data-l10n-id="on"></span>
          </label>
        </li>

        <li role="menuitem">
          <label class="pack-radio-large my_radio">
            <input id="airplane_switch_off" value="false" type="radio">
            <span data-l10n-id="off"></span>
          </label>
        </li>
      </ul>
    </div>

    <panel data-path="panels/airplane_mode/panel"></panel>
  </template>
</element>
